.inventory {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(4, 9vh);
  grid-template-rows: repeat(4, 1fr);  
  justify-content: center;
  /*width: 36vh;*/
}

.inventory_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw;
  background-color: whitesmoke;
  width: 8vh;
  height: 8vh;
  margin: 0.5vh;
  border: 1px solid black;
}